<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        -----------------
    </div>
    <div sec:authorize="hasAuthority('USER')">
        ******************
    </div>
    <span th:utext="${userName}"></span>
    <span th:utext="${adminMessage}"></span>
    <input type="button" value="Go Somewhere Else" onclick="location.href='/post'" />
</body>
</html>